.main {
	padding: 0px 50px;
	.text-shadow();

	background: url("../img/common/gplaypattern.png");

	.drop-shadow();
}

section.info-banner {
	@baseMargin: @gridGutterWidth / 4;

	.info-box {
		.img-gradient("../img/common/bghaze.png", #FFFFFF, 1, #C9E2FF, #ADD4FF, center center, 100px);
		.drop-shadow();
		.border-radius();

		margin: @baseMargin;
		height: @gridColumnWidth * 2.5;
		padding: (@baseMargin * 8) (@baseMargin * 4);

		.title {
			margin: @baseMargin;
			display: block;
			font-size: @baseFontSize * 1.2;
		}

		.value {
			font-size: @baseFontSize * 2;
		}
	}
}

