.main {
	padding: 0px 50px;
	.text-shadow();
}

section.home-section {
	margin: 100px auto;
}

.brand-branding-carousel .hero-unit.featured {
	min-height: 350px;

	.img-gradient("../img/common/bghaze.png", #FFFFFF, 1, #FFFFFF, #85BEFF);
	.drop-shadow();
	.border-radius();
}

ul.horizontal-list {
	list-style: none;
}

// See http://css-tricks.com/centering-list-items-horizontally-slightly-trickier-than-you-might-think
.table-display {
	display: table;
}

ul.horizontal-list li {
	display: inline;
	margin: 0 10px;
}

.application-gallery .gallery .gallery-item {
	.drop-shadow();
	.border-radius();
}

.application-gallery .gallery.staff-picks .gallery-item {
	.img-gradient("../img/common/bghaze.png", #FFFFFF, 1, #FFFFFF, #85BEFF);
}

.application-gallery .gallery.popular .gallery-item {
	.img-gradient("../img/common/bghaze.png", #FFFFFF, 1, #FFFFFF, #D5EB81);
}

.application-gallery .gallery .view-all {
	margin: 5px 0 0 0;
}